[Unit]
Description=Hyprsunset daemon
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=|WAYLAND_DISPLAY

[Service]
ExecStart=hyprsunset --temperature 5000
Restart=always
RestartSec=1

